@media (min-width: 600px) {
    .notes__container {
        column-count: 2;
    }
}

@media (min-width: 900px) {
    .notes__container {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .notes__container {
        column-count: 3;
    }
}

@media (min-width: 1300px) {
    .notes__container {
        column-count: 4;
    }
}


/* Responsive adjustments */
@media (max-width: 468px) {
    .controls-section {
        /* flex-direction: column; */
        gap: 1rem;
        /* align-items: stretch; */
    }

    .createBtn {
        justify-content: center;

    }

    .signin-btn {
        width: 100%;
        padding: 1.2rem 1.5rem;
    }
}